<div class="header">
    <div class="max-size-window header-top">
        <ul>
            <li><a href="/one-menu">Главная</a></li>
            <li><a href="/two-menu">Второе меню</a></li>
            <li><a href="/three-menu">Третье меню</a></li>
            <li><a href="/four-menu">Четвертое меню</a></li>
            <li><a href="/five-menu">Пятое меню</a></li>
        </ul>
        <div class="right-menu">
            <a href="https://github.com/ONESucH">github</a>
            <a href="https://vk.com/0nesuch07">vk</a>
        </div>
    </div>
</div>