@import "../app.component.less";

.main-section {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  background: rgb(38, 38, 38);
  box-shadow: inset 0 0 20px 0 #00c9ff;
  min-height: 100vh;
  color: #fff;
  border-radius: 0 0 10px 10px;
}