/* Здесь будут расположены основные стили */

@font-face{
    font-family: 'Roboto', sans-serif;
    url('./assets/fonts/Roboto-Light.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto', sans-serif;
    url('./assets/fonts/Roboto-Light.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p, span {
    margin: 0;
}